<header id="banner">
    <!-- <img src="./img/ocean-g177104987_1920.jpg" alt=""> -->
    <div >
        <h1 >Proyecto Angular</h1>
        <h2 ><em>Programador Web FullStack</em></h2>
        <a class="btn btn-danger btn-sm" href="#callout">Proyectos</a>
    </div>
  </header>
  <!-- Acerca de mi -->
  <section class="content-section bg-light text-dark text-center  p-5" id="AcercaDeMi" >
    <div class="container px-4 px-lg-5  text-center">
        <div id="foto">
             <img src="../assets/img/angular-icon.svg" alt=""> 
        </div><br>
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div >
                <h2>Lorem ipsum, dolor sit.</h2>
                <p class="lead mb-5">
                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas ipsam est facere eveniet tempore cum quod esse maiores error! Laudantium voluptatum architecto autem? Ipsa, perspiciatis! Ratione nihil ipsum aspernatur cupiditate?
                </p>
            </div>
        </div>
        <a class="btn btn-dark ">Experiencia</a>
    </div>
  </section>
  <!-- Callout-->
<section class="content-section bg-dark  text-center" id="callout">
    <!-- <img src="./img/hardwood-gf379c135d_1920.jpg" alt=""> -->
    <div class=" px-4 px-lg-5 text-center">
        <h1 class="mx-auto mt-5">
            Bienvenido a <br> 
            <em> Angular</em>  
        </h1>  
    </div>
</section>

