<header id="banner">
    <!-- <img src="./img/ocean-g177104987_1920.jpg" alt=""> -->
    
        <h1 >Instituto Tecnologico FSW</h1>
        <h2 ><em> FullStack Web Developers</em></h2>
        <a class="btn btn-danger btn-sm" href="#callout">Inicio</a>
    
  </header>
  <!-- galeria 1 -->
  <section class="content-section bg-light text-dark text-center  p-5"  >
    <div class="container px-4 px-lg-5  text-center">
      
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div id="foto">
                <img src="../assets/img/angular-icon.svg" alt=""> 
                <div >
                    <h2>Foto 1</h2>
                    <p class="lead mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
           </div>
           <br>

           <div id="foto">
              <img src="../assets/img/angular-icon.svg" alt=""> 
                <div >
                    <h2>Foto 2</h2>
                    <p class="lead mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                 </div>
           </div>

           <br>

           <div id="foto">
             <img src="../assets/img/angular-icon.svg" alt=""> 
              <div >
                  <h2>Foto 3</h2>
                  <p class="lead mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
               </div>
           </div>

           <div id="foto">
            <img src="../assets/img/angular-icon.svg" alt=""> 
             <div >
                 <h2>Foto 4</h2>
                 <p class="lead mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
          </div>

        </div>
        <a class="btn btn-dark "href="#AcercaDeMi">About</a>
    </div>
  </section>

  <!-- welcome -->
  <section class="content-section " id="callout">
    
        <h1 class="mx-auto mt-5">
            Welcome to <br> 
            <em> FSW technology institute</em>  
        </h1>  
    
</section>
<!-- About Us -->
  <section class="content-section bg-light text-dark text-center  p-5" id="AcercaDeMi" >
    <div class="container px-4 px-lg-5  text-center">
        <div id="foto">
             <img src="../assets/img/angular-icon.svg" alt=""> 
        </div><br>
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div >
                <h2>Quienes Somos...</h2>
            <pre class="lead mb-5">
En el Instituto FSW formamos a estudiantes del sector IT 
        en FullStack Web Developers
    los introducimos en el uso de nuevas tecnologias de desarrollo
                </pre>
            </div>
        </div>
        <a class="btn btn-dark "href="#banner">Home</a>
    </div>
  </section>

  <!-- Galeria 2 con links -->

  <section class="content-section bg-light text-dark text-center  p-5"  >
    <div class="container px-4 px-lg-5  text-center">
      
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div id="foto">
                <img src="../assets/img/angular-icon.svg" alt=""> 
                <div >
                    <h2>Foto 1</h2>
                    <p class="lead mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <a class="btn btn-dark "href="#">Directivos</a>
                </div>
           </div>
           <br>

           <div id="foto">
              <img src="../assets/img/angular-icon.svg" alt=""> 
                <div >
                    <h2>Foto 2</h2>
                    <p class="lead mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <a class="btn btn-dark "href="#">Profesores</a>
                 </div>
           </div>

           <br>

           <div id="foto">
             <img src="../assets/img/angular-icon.svg" alt=""> 
              <div >
                  <h2>Foto 3</h2>
                  <p class="lead mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                  <a class="btn btn-dark "href="#">Alumnos</a>
               </div>
           </div>

           <div id="foto">
            <img src="../assets/img/angular-icon.svg" alt=""> 
             <div >
                 <h2>Foto 4</h2>
                 <p class="lead mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                 <a class="btn btn-dark 
                  "href="#">Administracion</a>
              </div>
          </div>

        </div>
        <!-- <a class="btn btn-dark "href="#AcercaDeMi">About</a> -->
    </div>
  </section>
