<header id="banner">
    
    <h1 >Instituto Tecnologico FSW</h1>
    <h2 ><em> FullStack Web Developers</em></h2>
    <!-- <a class="btn  btn-outline-dark p-2 " href="#callout">Inicio</a> -->
    <br>
</header>
<!-- galeria 1 -->
<section class="content-section bg-dark text-light text-center  p-5" >

    <div class="container  px-5  text-center">
      
        <div class="row gx-4 gx-lg-5 justify-content-center">

            <div id="foto">
                <img src="../../assets/img/pexels-sevenstorm-juhaszimrus-575895.jpg" alt=""> 
                <div >
                    <h2>Institute</h2>
                    <p class="lead mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
           </div>

           <div id="foto">
              <img src="../../assets/img/tech.jpg" alt=""> 
                <div >
                    <h2>Technology</h2>
                    <p class="lead mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                 </div>
           </div>
          
           <div id="foto">
             <img src="../../assets/img/pexels-neo.jpg" alt=""> 
              <div >
                  <h2>FullStack</h2>
                  <p class="lead mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
               </div>
           </div>

           <div id="foto">
            <img src="../../assets/img/coding-g8e6ca8582_1280.jpg" alt=""> 
             <div >
                 <h2>Developers</h2>
                 <p class="lead mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
          </div>

        </div>
        <a class="btn btn-outline-danger p-2 "href="#AcercaDeMi">About</a>
    </div>
</section>

<!-- welcome -->
<header id="callout">
    <h1 class="mx-auto">
            Welcome to <br> 
            <em> FSW technology institute</em>  
        </h1>  
</header>

<!-- Galeria 2 con links -->

<section class="content-section bg-dark text-light text-center  p-5"  >
    <div class="container px-4 px-lg-5  text-center">
      
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div id="foto">
                <img src="../../assets/img/directivos.jpg" alt=""> 
                <div >
                    <h2>Directives</h2>
                    <p class="lead mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <a class="btn btn-outline-danger p-2 "href="#">Directivos</a>
                </div>
           </div>
           <br>

           <div id="foto">
              <img src="../../assets/img/teacher.jpg" alt=""> 
                <div >
                    <h2>Teachers</h2>
                    <p class="lead mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <a class="btn btn-outline-danger p-2 "href="#">Profesores</a>
                 </div>
           </div>

           <br>

           <div id="foto">
             <img src="../../assets/img/students.jpg" alt=""> 
              <div >
                  <h2>Students</h2>
                  <p class="lead mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                  <a class="btn btn-outline-danger p-2" routerLink="productos">Alumnos</a>
               </div>
           </div>

           <div id="foto">
            <img src="../../assets/img/admin.jpg" alt=""> 
             <div >
                 <h2>Admin</h2>
                 <p class="lead mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                 <a class="btn btn-outline-danger p-2 "href="#">Administracion</a>
              </div>
          </div>

        </div>
        <!-- <a class="btn btn-dark "href="#AcercaDeMi">About</a> -->
    </div>
  </section>
  <!-- About Us -->
  <section class="content-section bg-dark text-light text-center  p-5" id="AcercaDeMi" >
    <div class="container px-4 px-lg-5  text-center">
        <div id="foto">
             <img src="../../assets/img/about.jpg" alt=""> 
        </div><br>
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div >
                <h2>Quienes Somos...</h2>
            <pre class="lead mb-5">
En el Instituto FSW formamos a estudiantes del sector IT 
        en FullStack Web Developers
    los introducimos en el uso de nuevas tecnologias de desarrollo
                </pre>
            </div>
        </div>
        <a class="btn btn-outline-primary p-2 "href="#banner">Home</a>
    </div>
  </section>
