*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

#banner, #callout{
    width: 100%;
    /* height: 55vh; */
    background-color: rgba(175, 56, 56, 0.883); 
    text-align: center;
}

div{
          
    width: 100%;
    height: 100%;
    /* background-color: rgba(78, 56, 175, 0.883);  */
    font-size: 50px;
    text-align: center;       
}

a{
   
    margin: auto;
    margin-top:10px;
    margin-bottom: 5px;
}

h1{
    padding: 55px;
    color: rgb(254, 247, 247);
    font-size: 5rem;
    -webkit-text-stroke: 0.5px black;
}

p{
 font-size: 0.5em;
 font-weight: bold;
}  
 
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 20px;
    border-radius: 15px;
}
  
#foto {
        
    width: 240px;
   
    /* position:relative;
    top: 0;
    left: 0; */
    margin: auto;   
        
}
 