
<div class="container2 bg-dark p-5  ">
    <form action="https://formspree.io/f/xqkwyrny" method="POST" class="p-5" id="formulario">
       <h1 class="title">Contacto</h1>
     <div class="divContainer">
        <input type="text" name="nombre" id="nombre" class="input" placeholder="Ingrese su Nombre" required />
        <label for="nombre" class="label">Nombre :</label>
     </div>

     <div class="divContainer">
       <input type="text" name="apellido" class="input" placeholder="Ingrese su Apellido" required />
       <label class="label">Apellido :</label>
     </div>

     <div class="divContainer">
       <input type="number" name="edad" class="input" placeholder="Ingrese su Edad" required />
       <label for="" class="label">Edad :</label>
     </div>

     <div class="divContainer">
       <input type="text" name="email" class="input" placeholder="Ingrese su @mail" required />
       <label for="" class="label">Email :</label>
     </div>

     <div class="container" ><br>
       <h4  class="text-center ">Mensaje</h4><br>
         <textarea name="text" id="" cols="20" rows="10" placeholder="Mensaje" class="textArea"></textarea><br>
        </div>
        <button type="submit" class="btn btn-outline-dark">Enviar</button><br>
    </form>
 </div>